body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.bordered {
  border: solid 1px black;
}

.no-discs {
  list-style: none
}

.legend-width {
  max-width: 130px;
}

.legend div {
  margin: 5px;
}

.legend span {
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}

.main-view {
  display: flex;
}

.main-view div {
  margin: 10px;
}

.genome li {
  display: flex;
  align-items: stretch;
}

.genome .index {
  border-right: 1px black solid;
  width: 2em;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genome .value {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.palette-chooser {
  display: flex;
}

.palette-chooser div {
  margin: 1em;
}

/* Colors */
.defile {
  background-color: #F0B8F0;
}

.reproduce {
  background-color: #B8F0B8;
}

.attack {
  background-color: #F0B8B8;
}

.photosynthesis {
  background-color: #F0F0B8;
}

.sense {
  background-color: #B8D1F0;
}

.turn {
  background-color: #FAD9A0;
}

.move {
  background-color: #DBD8D4;
}

h1 {
  text-align: center;
}

hr {
  border: solid black 1px;
}

.selected {
  font-weight: bolder;
}
